{% extends "sections/base.twig" %}
{% set currentPage = {"home": "active"} %}

{% block linkMainActive %}active{% endblock %}
{% block main %}
    <div class="container-lg rounded-3 mt-3">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 p-5">
                <h1 class="display-3">Анализатор страниц</h1>
                <p class="lead">Бесплатно проверяйте сайты на SEO пригодность</p>
                <form class="row mb-3" action="/urls" method="post">
                    <div class="col">
                        <input type="text" required="required" name="url[name]" class="form-control form-control-lg mb-3" placeholder="https://www.example.com">
                            {% if invalidDataFormMessage is defined %}
                                <div class="invalid-feedback">
                                    {{ invalidDataFormMessage }}
                                </div>
                            {% endif %}
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary  btn-lg  text-uppercase ">Проверить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}