{% extends "sections/base.twig" %}
{% set currentPage = {"home": "active"} %}

{% block linkMainActive %}active{% endblock %}
{% block main %}
    <div class="container-lg rounded-3 mt-3">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 mx-auto border rounded-3 p-5">
                <h1 class="display-3">Анализатор страниц</h1>
                <p class="lead">Бесплатно проверяйте сайты на SEO пригодность</p>
                <form class="row mb-3" action="/urls" method="post">
                    <div class="col">
                        <input
                                type="text"
                                id="validationServerUrl"
                                name="url[name]"
                                class="form-control {{ formValidationClass }} form-control-lg mb-3"
                                placeholder="https://www.example.com"
                                required>
                        <div id="validationServerUrl" class="invalid-feedback">
                            Некорректный URL
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary  btn-lg  text-uppercase ">Проверить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}